.task-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-height: 100vh; 
}

.task-form {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center; 
  padding: 10px;
  background-color: #fff; 
  border-radius: 8px; 
}

.input-field, .select-field {

  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border 0.3s ease;
  
  &:focus {
    border-color: #007bff;
  }
}

.submit-btn {
  background-color: #7e67a6;
  color: white;
  padding-inline: 15px;
  padding-block: 15px;
  border: #7e67a6;
  border-radius: 50px;
  cursor: pointer;
  
  &:hover {
    background-color: #e2dbef;
    color: #54515a;
  }
}

.tasks-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 10px;
  justify-items: center; 
  border-radius: 8px;
}

.tasks-completed, .tasks-inprogress,.tasks-pending {
  justify-items: center; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  padding-right: 10px;
  border-radius: 8px;
}


.task-item-completed, .task-item-progress, .task-item-pending {
  background-color: #fff;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.task-item-pending {
  background-color: #ffe082; 
}

.task-item-progress {
  background-color: #fff3e0; 
}

.task-item-completed {
  text-decoration: line-through;
  background-color: #e0f7fa;
}